[project]
name = "Nexus"
version = "5.1.5"
description = "Nexus Application"
authors = [
    {name = "RazorBackRoar"}
]
requires-python = ">=3.9"

[tool.setuptools.packages.find]
where = ["src"]
include = ["nexus*"]
